.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0px;
    left: 0px;
    z-index: 90;

    &_container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        width: 600px;
        height: 90%;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 91;
        border-radius: 30px;
        overflow: hidden;
    }
}

// .confirmation {
//     & > span {
//         display: flex;
//         justify-content: center;

//         width: 100%;
//         font-size: 20px;
//         font-weight: 600;
//     }
// }

.contant {
    position: relative;
    margin: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 50px - 40px);

    & > span {
        display: flex;
        justify-content: center;

        width: 100%;
        font-size: 20px;
        font-weight: 600;
        margin: 0px 0px 10px 0px;
    }

    & > .products {
        border: 2px solid rgb(224, 145, 0);
        border-radius: 20px;
        padding: 10px 20px;
        height: calc(100% - 150px - 20px);
        width: calc(100% - 40px);

        &::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }

        & > .header {
            font-weight: 600;
            margin: 0px 0px 10px 0px;
        }

        & > div {
            display: grid;
            grid-template-columns: 60px calc(100% - 60px - 60px - 100px - 100px) 100px 100px;
            gap: 20px;

            & > span {
                width: 100%;
                text-wrap: nowrap;
                overflow: hidden;
            }

            & > .center {
                display: flex;
                justify-content: center;
                width: 100%;
            }
        }
    }

    & > .confirmation {
        position: absolute;
        bottom: 0px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 10px 0px;
        border: 2px solid rgb(224, 145, 0);
        border-radius: 20px;

        & > span {
            display: flex;
            justify-content: center;
    
            width: 100%;
            font-size: 20px;
            font-weight: 600;
            margin: 0px 0px 10px 0px;
        }

        & > button {
            height: 36px;
            border: none;
            border-radius: 10px;
            padding: 0px 10px;
            font-size: 18px;
            font-weight: 500;
            color: white;
            margin: 0px 10px;
            cursor: pointer;
        }
        
        & > .yes {
            background-color: rgb(0, 190, 0);

            &:hover {
                background-color: rgb(118, 197, 118);
            }
        }

        & > .no {
            background-color: red;

            &:hover {
                background-color: rgb(255, 101, 101);
            }
        }
    }
}

// .buttons {
//     display: flex;
//     justify-content: center;
//     width: 100%;
// }