.main {
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: rgba(9, 9, 9, 0);
    width: 100%;
    &::-webkit-scrollbar{
        width: 10px;

    }
}

.information_block {
    display: flex;
    flex-direction: row;

    margin-top: 30px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 60px;
    background-color: rgb(224, 145, 0);
    border-radius: 10px;
    overflow: hidden;

    &_button {
        flex: 1;
        border: none;
        height: 40px;
        background-color: rgb(224, 145, 0);
        color: white;
        font-size: 16px;
        font-weight: 600;
        
        &:hover {
            cursor: pointer;
            background-color: rgb(224, 186, 94);
        }
    }
}

.test {
    background-image: linear-gradient(to right, rgb(224, 145, 0) 90%, grey 10%);
}


.comment {
    display: flex;
    flex-direction: column;

    border: 1px solid rgb(224, 145, 0);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px 0px;

    &_info {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;

        &_star {
            font-size: 20px;
            color: grey;
            margin: 0px 1px 0px 1px;
            user-select: none;
        
            &_active {
                font-size: 20px;
                color: yellow;
                margin: 0px 1px 0px 1px;
                user-select: none;
            }
        }

        &_time {
            position: absolute;
            right: 0px;
            top: calc(50% - 7px);
            color: rgb(224, 145, 0);
            font-size: 14px;
            font-weight: 600;
        }
    }

    &_content {
        display: flex;
        flex-direction: column;

        &_main {
            color: rgb(224, 145, 0);
            font-size: 16px;
        }

        &_advantages {
            color: rgb(224, 145, 0);
            font-size: 16px;

            &_static {
                color: rgb(224, 145, 0);
                font-size: 16px;
                font-weight: 900;
                margin-right: 10px;
            }
        }

        &_position_block {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 6px 0px;
        }
    }
}

.statistics {
    display: flex;
    flex-direction: row;

    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgb(224, 145, 0);

    &_row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        width: 100%;
        margin: 5px 0px;
        color: rgb(224, 145, 0);
        
        &_span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15px;
        }

        &_line {
            width: 100%;
            height: 10px;
            border-radius: 10px;
            margin-left: 20px;

            border: 1px solid rgb(224, 145, 0);
        }
    }
    
    &_all {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;

        &_rating {
            color: rgb(224, 145, 0);
            font-size: 50px;
        }

        &_all {
            color: rgb(224, 145, 0);
            font-size: 12px;
            font-weight: 500;
        }
    }

    &_detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
    }
}

.add_comment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    height: 40px;
    color: rgb(224, 145, 0);
    border: 1px solid rgb(224, 145, 0);

    &_plus {
        font-size: 30px;
        font-weight: 300;
        margin-top: -5px;
        margin-right: 10px;
    }

    &:hover {
        cursor: pointer;
        color: red;
    }
}

.column {
    display: flex;
    flex-direction: row;
    width: 100%;
    // border: 1px blue solid;

    &_comments {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-right: 30px;
    }

    &_statistics {
        display: flex;
        flex-direction: column;
        width: 40%;
    }
}