.category {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0px;

    &_name {
        font-size: 32px;
        font-weight: 800;
        color: rgb(224, 145, 0);
        width: 100%;
    }

    &_description {
        margin-top: 20px;
        font-size: 18px;
        font-weight: 400;
        color: rgb(224, 145, 0);
        width: 100%;
    }

    &_items {
        display: flex;
        flex-direction: row;        
        flex-wrap: wrap;
        width: 100%;

        &_slide {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-top: 30px;
            min-width: 25%;
            width: 25%;
            height: 300px;
        }
    }

    &_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        text-decoration: none;
        border: 1.2px solid rgb(224, 145, 0);
        border-radius: 20px;
        width: 80%;
        height: 100%;

        &:hover {
            cursor: pointer;
            background-color: rgb(26, 26, 26);
            border: 1.2px solid red;
            color: red;

            & .category_item_name {
                color: red;
            }

            & .category_item_image_img {
                filter: brightness(100%);
            }
        }

        &_image {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 90%;
            min-height: 60%;
            max-height: 60%;
            height: 60%;

            &_img {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                filter: brightness(70%);
            }
        }

        &_name {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 70%;
            margin: 20px 0px 0px 0px;
            padding: 0px 20px;

            &_text {
                font-size: 22px;
                font-weight: 700;
                color: rgb(224, 145, 0);
            }
        }
    }
}